/* reveal-animation.css */
.container {
    margin-top: 50px;
    width: 50%;
    height: auto;
}

.text-typing {
    padding: 20px 30px;
    background: #992044;
    font-size: 35px;
    font-family: monospace;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.text-typing p {
    margin: 0;
    white-space: nowrap;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    animation: typing 4s steps(22, end) forwards, blink 1s infinite;
}

@keyframes typing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    0%, 100% {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid #222;
    }
}
